# Write your rules to this file
# Rules could be on more lines, but must end with semicolon (;)
# You can use hash tag for comment lines, block comments are not supported
# Grammar definition is described in documentation


IF player_dont_have_base AND free_tile* mountain AND money > 0 THEN build_base free_tile;
IF visible_free_tile* mountain AND money > 10 THEN build_archer visible_free_tile;


